[submodule "www"]
	path = www
	url = git@github.com:choij1589/www.git
[submodule "Plotter"]
	path = Plotter
	url = git@github.com:choij1589/Plotter.git
[submodule "plotter"]
	path = plotter
	url = git@github.com:choij1589/plotter
